<div class="dialog-container">
  <button class="close-button" (click)="closeDialog()">×</button>
  <h2>Refer and Earn!</h2>
  <p>
    Hey, join our trading platform for real trading experience! 🚀
    <br>
    Share this opportunity with your friends and earn rewards.
  </p>
  <div class="social-links">
    <a href="https://www.instagram.com/yourprofile" target="_blank" class="social-link">
      <i class='bx bxl-instagram'></i>
      <span>Instagram</span>
    </a>
    <a [href]="getWhatsAppURL()" target="_blank" class="social-link">
      <i class='bx bxl-whatsapp'></i>
      <span>WhatsApp</span>
    </a>
    <a href="https://www.facebook.com/yourprofile" target="_blank" class="social-link">
      <i class='bx bxl-facebook'></i>
      <span>Facebook</span>
    </a>
    <a href="https://www.twitter.com/yourprofile" target="_blank" class="social-link">
      <i class='bx bxl-twitter'></i>
      <span>Twitter</span>
    </a>
  </div>
</div>

