/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: black;
    transition: all 0.5s ease;
    z-index: 100;
    opacity: 1;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    background-color: black;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    opacity: 1
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: #695CFE;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */
.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: 2px;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #695CFE;
    color: #070707;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

body.sidebar header .toggle {
    color: #695CFE;
}

.sidebar .menu {
    margin-top: 40px;
}


.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: black; /* Set background color explicitly */
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color:#695CFE ;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: #0c0c0c;
}

body .sidebar li a:hover .icon,
body.sidebar li a:hover .text {
    color: #695CFE;
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}


