<nav class="sidebar" [class.close]="isSidebarClosed">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="assets/—Pngtree—money business logo illustration_4543115.png" alt="logo">
      </span>
      <div class="text logo-text">
        <span class="name">Trade</span>
        <span class="profession">Master</span>
      </div>
    </div>
    <i class='bx bx-chevron-right toggle' (click)="onToggleSidebar()" ></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a routerLink="" >
            <i class='bx bx-home-alt icon'></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-bar-chart-alt-2 icon'></i>
            <span class="text nav-text">Coin Status</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-pie-chart-alt icon'></i>
            <span class="text nav-text">Records</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/wallet">
            <i class='bx bx-wallet icon'></i>
            <span class="text nav-text">Wallet</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li>
        <a href="#">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
    </div>
  </div>
</nav>



