<div class="map-container">
  <div class="map-content">
    <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
  </div>
  <div class="details">
    <div class="img">
      <img [src]="coinData?.image?.small" alt="Coin Image">
      <h6>{{ coinData?.name }}</h6>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <button (click)="getGraphData(1)" class="btn btn-custom">24 hours</button>
    <button (click)="getGraphData(30)" class="btn btn-custom">30 days</button>
    <button (click)="getGraphData(90)" class="btn btn-custom">90 days</button>
    <button (click)="getGraphData(365)" class="btn btn-custom">1 year</button>
  </div>
</div>
